.footer {
  accent-color: rgb(255, 14, 80);
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(44, 0, 34);
  background-image: none;
  background-origin: padding-box;
  background-repeat: repeat;
  background-size: auto;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: Retina, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 855px;
  line-height: 21px;
  margin-top: 100px;
}
.footer__main {
  box-sizing: border-box;
  column-gap: 10px;
  display: grid;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
}
.footer__main__about {
  box-sizing: border-box;
  grid-column-end: auto;
  grid-column-start: span 6;
  width: 167px;
}
.footer__main__about-title {
  box-sizing: border-box;
  line-height: 21px;
  margin-block-end: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.footer__main-links {
  box-sizing: border-box;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 28px;
  margin-bottom: 28px;
}
a {
  text-decoration: none;
  color: inherit;
}
.footer__main-img-link {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  outline-color: rgba(0, 0, 0, 0);
  text-align: left;
  text-decoration-thickness: auto;
}
.footer__main-img {
  aspect-ratio: auto 29 / 14;
  box-sizing: border-box;
  display: block;
}
li {
  margin-bottom: 10px;
}
.footer__main__brand-logo {
  box-sizing: border-box;
  width: 243px;
  height: 30px;
  fill: rgb(255, 255, 255);
  max-width: 200px;
}
.footer__main__brand {
  box-sizing: border-box;
  grid-column-end: span 12;
  grid-column-start: 1;
}
.footer__main__brand-text {
  box-sizing: border-box;
  margin-block-end: 28px;
  margin-block-start: 10px;
  margin-bottom: 28px;
  margin-top: 10px;
}
.footer__main__brand-subtitle {
  box-sizing: border-box;
  letter-spacing: 1px;
  margin-block-end: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.footer__main__brand-social {
  box-sizing: border-box;
}
.footer__main__brand-social > a {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 7px;
  margin-right: 14px;
  outline-color: rgba(0, 0, 0, 0);
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
}
.footer__main__brand__social-logo {
  box-sizing: border-box;
  display: inline;
  width: 25px;
  height: 25px;
  margin-right: 7px;
  fill: rgb(86, 51, 78);
  vertical-align: bottom;
}
.footer__legal {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(35, 0, 27);
  background-image: none;
  background-origin: padding-box;
  background-repeat: repeat;
  background-size: auto;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  height: 147px;
  padding-bottom: 21px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 21px;
}
.footer__legal-links {
  box-sizing: border-box;
  display: flex;
  height: 21px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 14px;
  margin-block-start: 14px;
}
.footer__legal-link {
  box-sizing: border-box;
  height: 21px;
}
.footer__legal-link:first-of-type:after {
  content: "•";
  margin: 0 0.7em;
}
.footer__legal-text {
  box-sizing: border-box;
  margin-block-end: 14px;
  margin-block-start: 14px;
}
