.header {
  accent-color: rgb(255, 14, 80);
  color: rgb(34, 34, 34);
  display: block;
  font-family: Retina, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-size-adjust: 100%;
}

.main-head-mobile {
  background-attachment: scroll;
  background-color: black;
  background-origin: padding-box;
  box-sizing: border-box;
  color: white;
  display: flex;
  height: 50px;
  justify-content: space-between;
  -webkit-box-pack: justify;
}

.main-head-mobile__menu {
  box-sizing: border-box;
  display: block;
  flex-basis: 105px;
  flex-grow: 0;
  flex-shrink: 0;
}

.main-head-mobile__menu__control {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  background-origin: padding-box;
  border-color: black;
  border-image-repeat: stretch;
  border-style: none;
  border-width: 0px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  padding-block-end: 15px;
  padding-block-start: 15px;
  padding-bottom: 15px;
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  text-align: center;
}

.main-head-mobile__menu__control:hover + nav {
  visibility: visible;
}

.main-head-mobile__menu__contorl-text {
  color: white;
  font-size: 17px;
  margin-right: 10px;
  text-align: center;
}

.main-head-mobile__menu__svg {
  height: 15px;
  width: 16px;
  fill: white;
  opacity: 0.5;
}
.main-head-mobile__menu__content {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(35, 0, 27);
  background-origin: padding-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 667px;
  padding-top: 15px;
  position: absolute;
  visibility: hidden;
  z-index: 5;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}
.slate-close {
  align-items: flex-start;
  background-attachment: scroll;
  border-color: white;
  border-style: none;
  color: white;
  display: block;
  fill: white;
  padding: 12px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.slate-close:hover > nav {
  visibility: hidden;
}
.main-head-mobile__menu__content-svg {
  box-sizing: border-box;
  color: white;
  height: 21px;
  width: 21px;
  fill: white;
  margin-right: 3px;
  vertical-align: text-bottom;
}
.main-head-mobile__menu__content-sections {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.main-head-mobile__menu__content-link {
  border-bottom-color: rgba(255, 255, 255, 0.1);
  border-bottom-style: solid;
  border-width: 1px;
  border-top-color: rgba(255, 255, 255, 0.1);
  border-top-style: solid;
  border-top-width: 1px;
  color: white;
  display: block;
  fill: white;
  padding: 15px;
  text-decoration-color: white;
  text-decoration-line: none;
}
.main-head-mobile__menu__content-svg {
  height: 18px;
  width: 18px;
  color: white;
  fill: white;
  opacity: 0.5;
  text-align: center;
}
.main-head-mobile__logo {
  align-self: flex-end;
  height: 39px;
  width: 124px;
}
.main-head-mobile__logo__svg {
  height: 39px;
  width: 124px;
  fill: white;
}
.main-head-mobile__subscribe {
  box-sizing: border-box;
  font-size: 13px;
  flex-basis: 105px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 15px;
}
.main-head-mobile__subscribe-link {
  accent-color: rgb(255, 14, 80);
  box-sizing: border-box;
  border-bottom-color: rgb(255, 14, 80);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  color: white;
  display: inline;
  flex-basis: 105px;
  text-decoration-line: none;
  text-decoration-style: solid;
}
.main-head-strapline {
  accent-color: rgb(255, 14, 80);
  align-items: center;
  box-sizing: border-box;
  color: rgba(34, 34, 34, 0.7);
  display: flex;
  font-size: 11px;
  height: 55px;
  letter-spacing: 1px;
  line-height: 17px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 21px;
  padding-top: 7px;
  text-transform: uppercase;
  -webkit-box-align: center;
}
.main-head-strapline__svg {
  box-sizing: border-box;
  color: rgba(34, 34, 34, 0.7);
  display: block;
  fill: rgb(255, 14, 80);
  flex-shrink: 0;
  font-size: 11px;
  height: 26px;
  line-height: 17px;
  overflow-clip-margin: content-box;
  width: 24px;
}
.main-head-strapline__link {
  box-sizing: border-box;
  color: rgba(34, 34, 34, 0.7);
  display: block;
  height: 17px;
  outline-color: rgba(0, 0, 0, 0);
  text-decoration-color: rgba(34, 34, 34, 0.7);
  text-decoration-line: none;
}
