.new-and-politics {
  box-sizing: border-box;
  height: 1040px;
}
.new-and-politics__feature {
  font-size: 19px;
}
.new-and-politics__feature-container {
  order: 1;
}
.new-and-politics__menu {
  margin-top: 0px;
  margin-bottom: 15px;
  flex-grow: 1;
  flex-shrink: 1;
  order: 3;
}
.news-and-politics__feature {
  box-sizing: border-box;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  grid-column-end: span 10;
  grid-column-start: 1;
  margin-bottom: 15px;
  order: 2;
  -webkit-box-flex: 1;
  -webkit-box-ordinal-group: 3;
}
.news-and-politics__headphones {
  box-sizing: border-box;
  fill: rgb(255, 73, 0);
  height: 12px;
  width: 12px;
}
.news-and-politics__feature-link {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  margin-bottom: 15px;
  outline-color: rgba(0, 0, 0, 0);
  text-decoration-line: none;
}
.news-and-politics__feature-link-img {
  backdrop-filter: blur(1.7px);
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(34, 34, 34, 0.03);
  background-image: none;
  background-origin: padding-box;
  background-repeat: repeat;
  background-size: auto;
  box-sizing: border-box;
  contain: strict;
  float: left;
  height: 115px;
  margin-bottom: 9px;
  margin-right: 20px;
  padding-bottom: 115px;
  position: relative;
  width: 172px;
}
.news-and-politics__feature-link-image {
  box-sizing: border-box;
  display: block;
  height: 115.062px;
  max-width: 100%;
  overflow-clip-margin: content-box;
  position: absolute;
}
.new-and-politics__feature__label {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.new-and-politics__feature__title {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 22px;
  -webkit-box-ordinal-group: 3;
}
.new-and-politics__feature__author {
  box-sizing: border-box;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 1px;
  text-transform: uppercase;
  -webkit-box-ordinal-group: 2;
}
